body {
    font-family: "Inter", sans-serif;
    background-color: #ff9f1c;

}

h1 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 70px;


}

.recipes {

    display: inline;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    margin: 45px;




}

.recipes:visited {
    color: #390099;
}

#container {

    padding-top: 10px;
    text-align: center;
}